fastapi
uvicorn
sqlmodel
python-dotenv
python-jose[cryptography]

passlib[bcrypt]

python-multipart
psutil

pytest
pytest-cov
pytest-asyncio
pytest-benchmark
httpx

alembic
psycopg2-binary

ruff
black